<div id="footer" class"container-fluid">

	<div id="copyright">
		<a href="//www.ssu.ac.kr">Soongsil Univ. </a>
		(서울특별시 동작구 상도로 369)
		<br> <br>
		<a href="//www.SSULGOER.net">&copy; 2019.SSULOGER</a>
		All rights reserved.
		<br>
		Powered by
		<a href="//www.github.com">Github</a>
		& Designed Team SSULGOER
	</div>

	<div id="icons">
		<a href="//github.com/qdwns9704/qdwns9704.github.io">
					<img src="/assets/images/github_logo.png" height="20">
				</a>
		<a href="//facebook.com/codejune">
					<img src="/assets/images/facebook_logo.png" height="23.5">
				</a>
				<a href="//rss.com">
							<img src="/assets/images/rss.png" height="21.5">
						</a>
		</div>

</div>
