<div id = "header">
  <nav>
    <a href="{{ base_path }}/category/solve/solve">SOLVE</a>
    <a href="{{ base_path }}/project/">PROJECT</a>
    <a href="{{ base_path }}/contributor/">CONTRIBUTOR</a>
    <a href="{{ base_path }}/opensource/">OPEN SOURCE</a>
  </nav>

  <a id="logo" href="/">
    <span class="sr-only">SSULOGER</span>
  </a>
  <div class="flexbox">
    <div class="search">
      <div>
        <input type="text" placeholder="       Search . . ." required>
      </div>
    </div>
  </div>
</div>
