---
layout: default
---
<!DOCTYPE html>


<head>
  {% include head.html %}
</head>

<body>
<div id="cover" class="container-fluid">

<div id="slide">
  <input type="radio" name="pos" id="pos1" checked>
  <input type="radio" name="pos" id="pos2">
  <input type="radio" name="pos" id="pos3">
  <input type="radio" name="pos" id="pos4">
  <ul>
    <li><img src="assets/images/slide1.png" width="100%" height="100%" ></li>
    <li><img src="assets/images/slide2.png" width="100%" height="100%""></li>
    <li><img src="assets/images/slide3.png" width="100%" height="100%"></li>
    <li><img src="assets/images/slide4.png" width="100%" height="100%"></li>
  </ul>

  <p class="pos">
    <label for="pos1"></label>
    <label for="pos2"></label>
    <label for="pos3"></label>
    <label for="pos4"></label>
  </p>
</div>
<div id="navbar" class="container">
  <h5>Featured Posts</h5>
</div>
</div>
<div id="content" class="container">
  <div id="home-content" role="main">
    {{ content }}
  </div>
</div>
</body>
</html>
