---
layout: default
---
<!-- 되돌아가기 -->
<div id="navbar" class="container">
  <h5><a id="link-back" href="./">Back to Posts</a></h5>
</div>

<!-- 포스트 커버 -->
<!--<div id="cover" class="container" {% if page.image %}style="background-image: url({{ page.image }});" {% endif %}> -->
<div id="cover" class="container">

  <div>
    <!-- 포스트 제목 -->
    <h1>{{ page.title }}</h1>
    <p>
      <!-- 태그 -->
      {% for tag in page.tags %}
      <a href="{{ site.baseurl }}/tags/{{ tag }}">{{ tag }}</a>
      {% unless forloop.last %},{% endunless %}
      {% endfor %}
    </p>
  </div>
</div>

<!-- 본문 -->
<div id="content" class="container post" role="main">
  <!-- 포스트 내용 -->
  <div id="post-content">{{ content }}</div>
  <!-- 하단 정보 -->
  <div id="post-footer">
    <!-- 작성자 -->
    {% assign author = site.authors | where: 'name', page.author | first %}
    <a id="post-author" href="{{ author.url }}">
      <!-- 작성자 프로필 이미지 -->
      <div id="author-image" style="background-image:url({{ author.image | default: '' }});">
        <span class="sr-only">{{ author.name }}'s profile image</span>
      </div>
      <!-- 작성자 이름 -->
      <p id="author-name">{{ author.name }}</p>
    </a>
    <!-- 포스트 작성일 -->
    <p id="post-date">{{ page.date | date: '%Y-%m-%d %H:%M' }}</p>
    <!-- 작성자 포스트 더보기 -->
    <a id="post-more" href="{{ author.url }}">
      <span>이 글쓴이의 포스트 더보기</span>
    </a>
  </div>
  <!-- 댓글 -->
  <div id="disqus_thread"></div>
</div>

<!-- 이전/다음 포스트 보기 -->
<div id="post-links" class="container">
  {% assign prev = page.previous %}
  {% if prev %}
  <div id="post-prev" {% if prev.image %}style="background-image: url({{ prev.image }});" {% endif %}>
    <div>
      <h3><a href="{{ prev.url }}">{{ prev.title }}</a></h3>
      <p>YOU MIGHT ENJOY</p>
    </div>
  </div>
  {% endif %}
  {% assign next = page.next %}
  {% if next %}
  <div id="post-next" {% if next.image %}style="background-image: url({{ next.image }});" {% endif %}>
    <div>
      <h3><a href="{{ next.url }}">{{ next.title }}</a></h3>
      <p>NEXT POST</p>
    </div>
  </div>
  {% endif %}
</div>

<div id="lightbox">
  <div id="lightbox-image"></div>
</div>

<script>
  (function() { // DON'T EDIT BELOW THIS LINE
    var d = document,
      s = d.createElement('script');
    s.src = 'https://ssuloger-1.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
